{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/lib/require.js"></script>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript">

require(['jquery'], function() {
    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
        options.xhrFields = { withCredentials: true };
        return jqXHR.setRequestHeader(
            'X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
    });
});

var forest;

require(['backbone', 'router', 'views/forest'], function(Backbone, Router, Forest) {

    forest = new Forest();
    forest.setElement('div#forest');
    forest.render();

    var router = new Router();
    Backbone.history.start({pushState: true});
    
});

    </script>
{% endblock %}

{% block content %}

    {% csrf_token %}

    <div id="forest"></div>

{% endblock %}
