{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/lib/require.js"></script>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript">
    
    require(['jquery'], function() {
        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            options.xhrFields = { withCredentials: true };
            return jqXHR.setRequestHeader(
                'X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
        }); 
    });

    require(['backbone', 'router'], function(Backbone, Router) {
        new Router();
        Backbone.history.start({pushState: true});
    });

    </script>
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div id="node" ></div>
{% endblock %}
