<div id="relations_list"></div>

<div id="relation_creation">
  <h3>Create branch</h3>

  <div class="editbox">
    Text<br>
    <input name=text type=text size=80>
  </div>

  <div class="editbox">
    Slug<br>
    <input name=slug type=text size=80>
  </div>

  <div class="editbox choose_link_existing">
    Link to existing branch<br>
    <input name=destination type=text placeholder="(Create new)" size=80>
    <div id="existing_list"></div>
  </div>

  <div class="editbox chosen_link_existing">
  </div>

  <div class="editbox">
    <button id="create">Create</button>
  </div>

</div>
