<div id="relations_list"></div>

<div id="relation_creation">
  <div class="creation_title">Create branch</div>

  <div class="editbox">
    Text<br>
    <input name=text type=text size=80 id="relation_creation_text">
  </div>

  <div class="editbox">
    Slug<br>
    <input name=slug type=text size=80 id="relation_creation_slug">
  </div>

  <div class="editbox choose_link_existing">
    Destination<br>
    <input name=destination type=text placeholder="(Leave blank to create new)" size=80>
    <div id="existing_list"></div>
  </div>

  <div class="editbox chosen_link_existing">
  </div>

  <div class="editbox">
    <button id="create">Create</button>
  </div>

</div>
