<% _.each(relations.models, function(relation, idx) { %>
<div class="relation list_item" data-child-slug="<%= relation.get('child') %>" tabindex=<%= idx %>>
  <div class="relation_list_item_left"><%= relation.get('text') %></div>
  <div class="relation_list_item_right"><small>Created by <%= relation.get('author') %> <%= relation.get('created') %></small></div>
  &nbsp;
</div>
<% }) %>

<% if(relations.text && relations.text.length > 0) { %>
<div class="relation list_item" id="create_relation" tabindex=<%= relations.models.length %>>
  Create this branch
</div>
<% } %>
